.about {
  display: flex;
  margin-top: 100px;
}

.introduction {
  font-size: 18px;
  width: 60%;
  flex-grow: 3;
}

.technology {
  width: 40%;
  flex-grow: 1;
  text-align: right;
}

ul {
  list-style: none;
}

.contact ul li {
  margin-top: 100px;
  margin-right: 100px;
}

.contact > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
