.about {
  display: flex;
  margin-top: 100px;
}

.introduction {
  font-size: 18px;
  width: 60%;
  flex-grow: 3;
}

.introduction h1{
  color:#d42990;
}

.technology {
  width: 40%;
  flex-grow: 1;
  text-align: right;
  font-size: 18px;
}

.technology h1{
  color:#d42990;
}

ul {
  list-style: none;
}

.contact ul li {
  margin-top: 100px;
  margin-right: 100px;
}

.contact > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen {
  .contactmobile{
      display: none;
  }
}

@media (max-width: 1200px) {
  .about{
    margin: 30px;
  }
}

@media (max-width: 1059px) {
  .about{
    flex-direction: column;
  }
  .introduction {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  
  .technology {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  .contact{
    display: none;
  }

  .contactmobile ul li {
    margin-top: 10px;
    margin-right: 25px;
  }

  .contactmobile > ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contactmobile{
    display: flex;
  }
}