.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header h2 {
  font-size: 3em;
}
.header h3 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 20px;
}
.btn {
  background: #d42990;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
  flex: wrap;
}
.main {
  margin: 10px 0 50px 0;
  border: 2px solid #fff;
  box-shadow: 0 5px 5px #ccc;
  border-radius: 190px;
  width: 390px;
}

@media (max-width: 680px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  .header h2 {
    font-size: 30px;
  }
  .header h3 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .btn {
    display: none;
  }
  .main{
    width: 200px;
  }
}

@media (max-width: 850px) {
  .header h2 {
    font-size: 2em;
  }
  .header h3 {
    font-size: 2em;
    padding-bottom: 20px;
  }
  .main{
    width: 300px;
  }
}
