.portfolio {
  text-align: center;
}
.portfolio > h1 {
  font-size: 3em;
  margin-top: 80px;
}
.portfolio > h3 {
  font-size: 2em;
  font-weight: 400;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 20px;
}
.projects h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
}
.projects p {
  color: #ccc;
  margin-top: 4px;
  color: #d42990;
}

.btn {
  background: #d42990;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
  width: 50%;
  justify-self: center;
}

.links {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

@media (max-width: 850px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    margin: 80px 20px;
  }
}

@media (max-width: 680px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 80px;
    margin: 80px 20px;
  }
  .portfolio > h1 {
    font-size: 2em;
  }
  .portfolio > h3 {
    font-size: 1em;
  }
  .projects h3 {
    font-size: 16px;
  }
  .projects p {
    font-size: 16px;
  }
}
