.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details h2 {
  font-size: 3.5em;
  margin-top: 30px;
  text-align: center;
  color: #d42990;
}
.details h3 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 10px;
}
.html {
  margin-bottom: 30px;
}
.featured {
  margin-bottom: 40px;
  margin-top: 40px;
}

.repogithub {
  background: #d42990;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
  flex: wrap;
  margin-right: 20px;
  width: 200px;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
}

@media (max-width: 680px) {
  .details {
    margin: 15px;
  }
  .details h2 {
    font-size: 30px;
    text-align: center;
  }
  .details h3 {
    font-size: 16px;
    text-align: center;
  }
  .html {
    text-align: center;
  }
}
